<h2>Uploads</h2>
<p>Selecciona y sube el archivo deseado<p>
<br>
<form action="/api/uploads" method="post" enctype="multipart/form-data">
<label for="file">Seleccione el archivo</label>
  <input type="file" name="file" required/>
<button>Subir Archivo</button>
</form>